/** BASE STYLES **/
html {
    font-size: 18px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-weight: 300;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
  }

.full-width {
    width: 100%;
    overflow: auto;
}


/** HEADER **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: auto;
    background-color: #fff;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.header-divider {
    height: 2px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0;

}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

nav ul li {
    list-style: none;
    padding: 5px;

}

nav ul li a {
    color: #028090;
    font-size: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: 700;
}

/** sticky header **/
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
 


/** HERO AREA **/
.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    -webkit-transition: opacity 1s .25s ease-out;
    transition: opacity 1s .25s ease-out;
    will-change: opacity;
}

.hero-area.is-visible {
    opacity: 1;
}

.hero-area h1 {
    font-size: 2.25em;
}

.hero-area p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    margin: 0;
}

/** ABOUT **/
#about {
    background: #028090;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#about .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#about .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#about p {
    font-size: 1em;
    line-height: 1.5em;
}

#about #headshot-img {
    border: 5px solid #ffffff;
    margin-top: 5px;
    width: 70%;
    max-width: 300px;
}

#about span {
    font-weight: 700;
    letter-spacing: 1.75px;
    
}
/** WORK **/
#work {
    display: flex;
    justify-content: center;
}

#work .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

#work .gallery-item {
    box-sizing: border-box;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 50px 0;
    opacity: 0;
    -webkit-transition: opacity 1s .25s ease-out;
    transition: opacity 1s .25s ease-out;
    will-change: opacity;
}

#work .gallery-item.is-visible {
    opacity: 1;
}

.gallery-item .thumbnail {
    box-sizing: border-box;
    border: 2px solid #b7b7b7;
    width: 100%;
}

.gallery-item .thumbnail:hover {
    border: 5px solid #028090;
}

#work h3 {
    margin: 10px;
}

#work p {
    font-size: 1em;
    max-width: 90%;
    text-align: center;
    margin: 0;
}

/** BLOG WORK SAMPLE **/
#blog-sample {
    display: flex;
    justify-content: center;
}

#blog-sample .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#blog-sample p {
    text-align: center;
}

#blog-sample a {
    text-decoration: none;
    color:#028090;
    font-weight: bold;
}

/** TESTIMONIALS **/
#testimonials {
    display: flex;
    justify-content: center;
}

#testimonials .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

/** CONTACT **/
#contact {
    background: #028090;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
}

#contact .contact-item {
    margin: 40px 0;
}

#contact a {
    color: #ffffff;
    text-decoration: none;
}
#contact ul {
    margin: 20px;
    padding: 0;
}
#contact ul li {
    display: inline-block;
    padding: 0 20px;
}
#contact ul li i {
    font-size: 2em;
}
#contact h3 {
    font-size: 1em;
}

/** FOOTER **/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .content-wrapper {
    margin: 0;
}

@media screen and (min-width: 768px) {
    header .content-wrapper {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .header-divider {
        display: none;
    }

    .hero-area h1 {
        font-size: 2.5em;
        max-width: 700px;
    }

    nav ul {
        justify-content: space-between;
        flex-flow: row wrap;
        width: 350px;
    }
    
    nav ul li {
        padding: 0;
    }

    .hero-area .content-wrapper {
        margin: 50px 0 200px 0;
    }

    .about-details {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
    }

    #about .about-image {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        min-width: 300px;
        max-width: 350px;
    }

    #about #headshot-img {
        border: 5px solid #ffffff;
        margin-top: 5px;
        width: 100%;
    }

    .about-details {
        display: flex;
        justify-content: center;
    }

    #about p {
        margin: 0 0 10px 20px;
        max-width: 600px;
    }

    #work .gallery {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    #work .gallery-item {
        max-width: 45%;
    }

    .contact-details {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    .contact-item {
        max-width: 30%;
    }



} /* end of TABLET media query */

@media screen and (min-width: 1200px) {
    .hero-area .content-wrapper {
        margin: 50px 0 300px 0;
    }
    
    .hero-area h1 {
        font-size: 3.75em;
        max-width: 1100px;
    }
    
    .hero-area p {
        font-family: 'Libre Baskerville', serif;
        font-size: 2em;
        margin: 0;
    }

    #work .gallery-item {
        min-width: 490px;
        max-width: 35%;
    }

    #contact .contact-item {
        max-width: 325px;
    }


} /* end of DESKTOP media query */

/**
color palette:
#05668d, #028090, #00a896, #02c39a,# f0f3bd
**/
