/** BASE STYLES **/
html {
    font-size: 16px;
}

body {
    font-family: 'Karla', sans-serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    text-align: center;
}

.content-wrapper {
    width: 90%;
    margin: 50px 0;
  }

/** GRID **/
section {

}

.full-width {
    width: 100%;
    overflow: auto;
}



/** HEADER **/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    overflow: auto;
}

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}

.header-divider {
    height: 2px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 20px 0;

}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

nav ul li {
    list-style: none;
    padding: 10px;

}

nav ul li a {
    color: #028090;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

/** HERO AREA **/
.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-area .content-wrapper {

}

.hero-area h1 {
    font-size: 2.25em;
}

.hero-area p {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25em;
    margin: 0;
}

/** ABOUT **/
#about {
    background: #028090;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#about .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
#about p {
    font-size: 1em;
    line-height: 1.25em;
    text-align: center;
}
#about p #headshot-img {
    border: 5px solid #ffffff;
    width: 300px;
}
/** WORK **/
#work {
    display: flex;
    justify-content: center;
}

#work .thirds-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

#work .third-width {
    box-sizing: border-box;
    width: 400px;
    float: left;
}
#jubilee-screenshot, #rogue-screenshot, #recipe-screenshot {
    border: 1px solid #b7b7b7;
    height: 200px;
    padding: 50px 50px 20px 50px;
}
#work h3 {
    font-size: 1em;
    text-align: center;
}
#work p {
    font-size: 1em;
    padding: 0 50px;
    text-align: center;
}

/** CONTACT **/
#contact {
    background: #028090;
    color: #ffffff;
    height: 650px;
    text-align: center;
}
#contact .thirds-wrap {
    margin: 0 auto;
    width: 1200px;
}
#contact a {
    color: #ffffff;
    text-decoration: none;
}
#contact ul {
    margin: 20px;
    padding: 20px 0;
}
#contact ul li {
    display: inline-block;
    padding: 0 20px;
}
#contact ul li i {
    font-size: 1.5em;
}
#contact h3 {
    font-size: 1em;
}
#contact p {
    font-size: 1em;
    padding: 20px 50px;
}

/** FOOTER **/
footer {
    margin: 20px;   
}





/**
css box-size checker:
border: 1px solid black;

color palette:
#05668d, #028090, #00a896, #02c39a,# f0f3bd
**/
